@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #D02C1E;
  --secondary-color: #272728;
  --background-color: #1E1E21;
  --text-color: #fff;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}
