@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --secondary-color: #1E1E21;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1E1E21;
    --secondary-color: #fff;
  }
}

body {
  color: var(--primary-color);
  background: var(--secondary-color); 
}
